* {
    z-index: -1
}
.form {
    float: right;
    background: rgba(19, 35, 47, 0.9);
    color: yellow;
    margin-top: 700px;

    padding: 40px;
    /* max-width: 800px; */
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin-right: 20px;
    z-index: 99;
}

#myApp {
   
    top: 130px;
    left: 30px;
    width: 300px;
    height: 150px;
    position: relative;
    z-index: -99;
}

/* .higher-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
}

.lower-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -99;
} */
